@media (min-width: 576px) {
	.info {
		&__box {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		&__img {
			width: 30vw;
            margin: 0 1em 0 0; //tutaj dodać efekt tekstu
		}
	}

	.maps{
		&__card{
			width: 250px !important;
		}
	}
}
